@keyframes rotate360{
    from{transform: rotate(0deg);
       -moz-transform:  rotate(0deg);
    -webkit-transform:  rotate(0deg);
    }
    to{transform: rotate(360deg);
          -moz-transform:  rotate(360deg);
    -webkit-transform:  rotate(360deg);
    }
}
.pokedex-ball{
    height:500px;
    width:500px;
    border: 1px solid #fff;
    animation: rotate360 2s ease-in-out 0s 1;
    -webkit-animation: rotate360 2s ease-in-out 0s 1;
    -moz-animation: rotate360 2s ease-in-out 0s 1;
    
   
    
}

