body {
    background-color: #20202f;
}
.big-circle {
    border: 1px solid;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.pokeball {
    position: relative;
    top: 15%;
    left: 31%;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
